* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.App {
    max-width: 800px;
    overflow-x: hidden;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__btns {
    display: flex;
    gap: 10px;
}

.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: white;
    border-bottom: 2px solid teal;
    border-top: 2px solid teal;
}

.navbar__container {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__links {
    max-width: 25vw;
    display: flex;
    gap: 20px;
}

.navbar__links a {
    text-decoration: none;
    color: teal;
    border: 1px solid teal;
    padding: 5px 15px;
}